#import /init.common.rc
import /vendor/etc/init/hw/init.common.rc

on init
    insmod /vendor/lib/modules/ft6336u.ko
    insmod /vendor/lib/modules/mir3da.ko
    setprop qemu.hw.mainkeys 0

on post-fs-data
    setprop fpga.target.enable 1
    setprop debug.delaytime.min 10
    setprop debug.delaytime.mid 100
    setprop debug.delaytime.max 1000
    setprop debug.android_watchdog.disable 1

#modify permission for voicetrigger dev
    chown system  audio /dev/rt5512
    chmod 660     /dev/rt5512

#modify for tof calibration
    chmod 666 /mnt/vendor/vl53l0_offset_calibration.file
    chmod 666 /mnt/vendor/vl53l0_xtak_calibration.file

on boot
    chown cameraserver system /sys/devices/virtual/misc/sprd_flash/test
    chmod 660 /sys/devices/virtual/misc/sprd_flash/test
    chmod 0664 /sys/class/switch/sleep_mode/enable_sleep_mode
    chown system system /sys/class/switch/sleep_mode/enable_sleep_mode
    chmod 0664 /sys/class/switch/sleep_mode/start_seconds
    chown system system /sys/class/switch/sleep_mode/start_seconds
    chmod 0664 /sys/class/switch/sleep_mode/end_seconds
    chown system system /sys/class/switch/sleep_mode/end_seconds
    chown system system /sys/class/sprd_sensorhub_tp/device/psensor_enable
    chmod 660 /sys/class/sprd_sensorhub_tp/device/psensor_enable
    chown system system /sys/class/sprd_sensorhub_tp/device/psensor_flush
    chmod 660 /sys/class/sprd_sensorhub_tp/device/psensor_flush

# block I/O vm.dirty parameters
    write /proc/sys/vm/dirty_background_bytes 4194304
    write /proc/sys/vm/dirty_bytes  52428800
